@import "tailwindcss";

@theme {
  --color-green-950: #052e16;
  --font-family-sans: 'Inter', sans-serif;
}

* {
  scroll-behavior: smooth;
}

body {
  background-color: #030a06;
  color: #f0fdf4;
  font-family: 'Inter', sans-serif;
}
